<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Safi Air</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/reserv.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div class="background"></div>
<div class="container">
  <div class="row">
    <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
      <div class="icon">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <!--/.icon-->
      <h1>Success!</h1>
      <p>We've sent a confirmation to your e-mail
        <br>for verification.</p>
      <button type="button" class="redo btn">Ok</button>
      <span class="change">-- Click to see opposite state --</span>
    </div>
    <!--/.success-->
  </div>
  <!--/.row-->
  
  <!--/.row-->
</div>
<!--/.container-->
</body>

</html>